<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.580972649195-j17ovaq2aj2iu6m6f1o2c8g83ac9idml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>CampusCuts Stripe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>campuscuts</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>StripeApplePayMerchantCountryCode</key>
	<string>$(STRIPE_APPLE_PAY_MERCHANT_COUNTRY_CODE)</string>
	<key>StripeApplePayMerchantId</key>
	<string>$(STRIPE_APPLE_PAY_MERCHANT_ID)</string>
	<key>StripePublishableKey</key>
	<string>$(STRIPE_PUBLISHABLE_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
